#baseContainer {
  height: 100vh;
  width: $content-width;
  background-color: $lightbackgroundcolor;
  float: right;

  .content {
    width: 100%;
    height: 100%;
    padding-top: $large-navbar-height;
  }
}
