#sidebar {
  position: fixed;
  top: 0;
  height: 100%;
  bottom: 0;
  width: 25vw;
  left: 0;
  z-index: 9999;
  border-right: 1px solid $light-border;
  background-color: $darkbackgroundcolor;
  color: $light-color;

  .header {
    height: 60px;
    vertical-align: middle;
    align-items: center;
    display: flex;
    background-color: black;
    color: $light-color;

    p {
      margin: 0 auto;
    }
  }
}
